mat-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 4em;
  background-color: #0576b6;
  z-index: 100;
}

.logo {
  width: 100px;
}

.title {
  font-size: larger;
}
